.venv
.idea
.git

**/__pycache__/
logs/
*.session*

aimods_bot/misc/logs
aimods_bot/misc/quick.py
aimods_bot/misc/NOTE.txt
aimods_bot/.env
aimods_bot/untitled/.idea
untitled/Writerside/.idea
untitled/Writerside/cfg
untitled/Writerside/c.list
untitled/Writerside/in.tree
untitled/Writerside/ug.tree
untitled/Writerside/v.list
untitled/Writerside/writerside.cfg
database/
update_bot.sh

aimods_bot/src/main/init.py

.python-version
.env